<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link rel="stylesheet" href="{% static 'assets/music_player/music.css' %}">
</head>
<body>
    <div class="player">

    <div class="player__header">

      <div class="player__img player__img--absolute slider">

        <button class="player__button player__button--absolute--nw playlist">

          <img src="http://physical-authority.surge.sh/imgs/icon/playlist.svg" alt="playlist-icon">

        </button>

        <button class="player__button player__button--absolute--center play">

          <img src="http://physical-authority.surge.sh/imgs/icon/play.svg" alt="play-icon">
          <img src="http://physical-authority.surge.sh/imgs/icon/pause.svg" alt="pause-icon">

        </button>

        <div class="slider__content">
          <img class="img slider__img" src="http://physical-authority.surge.sh/imgs/1.jpg" alt="cover">
        </div>
      </div>
      <div class="player__controls">
        <button class="player__button back">
          <img class="img" src="http://physical-authority.surge.sh/imgs/icon/back.svg" alt="back-icon">
        </button>
        <p class="player__context slider__context">
          <strong class="slider__name"></strong>
          <span class="player__title slider__title"></span>
        </p>
        <button class="player__button next">
          <img class="img" src="http://physical-authority.surge.sh/imgs/icon/next.svg" alt="next-icon">
        </button>
        <div class="progres">
          <div class="progres__filled"></div>
        </div>
      </div>
    </div>

    <ul class="player__playlist list">
      <li class="player__song">
        <img class="player__img img" src="http://physical-authority.surge.sh/imgs/2.jpg" alt="cover">
        <p class="player__context">
          <b class="player__song-name">blinding lights</b>
          <span class="flex">
            <span class="player__title">the weeknd</span>
            <span class="player__song-time"></span>
          </span>
        </p>
        <audio class="audio" src="{% static 'assets/music_player/Madonna - Frozen (Sickick Remix) - Trap Nation.m4a' %}"></audio>
      </li>
    </ul>

  </div>
<script src="{% static 'assets/music_player/music.js' %}"></script>
</body>
</html>