{% extends 'dashboard/admin.html' %}
{% load static %}
{#{% block head %}#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{#{% endblock %}#}
{% block admin %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">


        <div class="page-header">
          <button class="btn btn-inverse-success" data-toggle="modal" data-target="#exampleModal">Add new product</button>
        </div>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.last %}
                    <div class="alert alert-success" role="alert">
                        {{ messages }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
              </div>
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="modal-body">
                    <select style="margin-bottom: 15px" class="form-select" aria-label="Default select example">
                      <option selected>-----------</option>
                        {% for j in categories %}
                            <option value="{{ j.id }}">{{ j.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group mb-3">
                        <input placeholder="Product name" name="name" type="text" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <input placeholder="Product price" name="price" type="text" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <input name="image" type="file" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                        <textarea placeholder="Description" name="description" type="text" class="form-control" required></textarea>
                    </div>
                    <select style="margin-bottom: 15px" class="form-select" aria-label="Default select example">
                      <option selected>Product color</option>
                        {% for j in products.first.color.all %}
                            <option value="{{ j.id }}">{{ j.name }}</option>
                        {% endfor %}
                    </select>

                    <select style="margin-bottom: 15px" class="form-select" aria-label="Default select example">
                      <option selected>Size</option>
                        {% for j in size %}
                            <option value="{{ j }}">{{ j }}</option>
                        {% endfor %}
                    </select>



                    <div class="input-group mb-3">
                        <input placeholder="Product quantity" name="quantity" type="number" class="form-control" required>
                    </div>

                    <div class="input-group mb-3">
                        <input placeholder="Product discount" name="discount" type="number" class="form-control" required>
                    </div>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
              </form>
            </div>
          </div>
        </div>


          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Products table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Color</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Quantity</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in products %}
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="{{ i.imageURL }}" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">{{ i.name }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$ {{ i.with_discount }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">{{ i.color.first.name }}</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">{{ i.category.name }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">{{ i.quantity }}</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="{{ i.quantity }}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}